:root {
  --md-admonition-icon--menu: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>menu-open</title><path d="M21,15.61L19.59,17L14.58,12L19.59,7L21,8.39L17.44,12L21,15.61M3,6H16V8H3V6M3,13V11H13V13H3M3,18V16H16V18H3Z" /></svg>')
}
.md-typeset .admonition.menu,
.md-typeset details.menu {
  border-color: rgb(43, 155, 70);
}
.md-typeset .menu > .admonition-title,
.md-typeset .menu > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .menu > .admonition-title::before,
.md-typeset .menu > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--menu);
          mask-image: var(--md-admonition-icon--menu);
}
:root {
  --md-admonition-icon--rmb: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>mouse-right-click</title><path d="M13 9V1.07C13.7 1.16 14.37 1.33 15 1.59C17.33 2.53 19.11 4.53 19.75 7C19.91 7.64 20 8.31 20 9H13M17.66 7C17.18 5.65 16.23 4.5 15 3.81V7H17.66M11 9V1.07C7.06 1.56 4 4.92 4 9H11M6.34 20.66C4.84 19.16 4 17.12 4 15V11H20V15C20 17.12 19.16 19.16 17.66 20.66C16.16 22.16 14.12 23 12 23C9.88 23 7.84 22.16 6.34 20.66Z" /></svg>')
}
.md-typeset .admonition.rmb,
.md-typeset details.rmb {
  border-color: rgb(43, 155, 70);
}
.md-typeset .rmb > .admonition-title,
.md-typeset .rmb > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .rmb > .admonition-title::before,
.md-typeset .rmb > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--rmb);
          mask-image: var(--md-admonition-icon--rmb);
}
:root {
  --md-admonition-icon--lmb: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>mouse-left-click</title><path d="M13 9V1.07C16.94 1.56 20 4.92 20 9H13M6.34 20.66C4.84 19.16 4 17.12 4 15V11H20V15C20 17.12 19.16 19.16 17.66 20.66C16.16 22.16 14.12 23 12 23C9.88 23 7.84 22.16 6.34 20.66M11 9V1.07C10.3 1.16 9.63 1.33 9 1.59C6.67 2.53 4.89 4.53 4.25 7C4.09 7.64 4 8.31 4 9H11M6.34 7C6.82 5.65 7.78 4.5 9 3.81V7H6.34Z" /></svg>')
}
.md-typeset .admonition.lmb,
.md-typeset details.lmb {
  border-color: rgb(43, 155, 70);
}
.md-typeset .lmb > .admonition-title,
.md-typeset .lmb > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .lmb > .admonition-title::before,
.md-typeset .lmb > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--lmb);
          mask-image: var(--md-admonition-icon--lmb);
}